@{
    // HEADER INFO
    ViewData["Title"] = "Assets and Liabilities";
    ViewData["Description"] = "Records and monitor all of your assets and liabilities";
    ViewData["Page"] = "assetsAndLiabilities";
}

<div class="assets-and-liabilities">
    
</div>