@{
    // HEADER INFO
    ViewData["Title"] = "Financial Transactions";
    ViewData["Description"] = "Records and monitor all financial transactions";
    ViewData["Page"] = "financialTransactions";
}

<div class="financial-transaction">
    <div class="financial-transaction-header">
        <div class="financial-transaction-picker">
            <div class="picker-item pickerAllTransaction picked" data-item="All Transaction" id="pickerAllTransaction">
                <p>All Transactions</p>
            </div>

            <div class="picker-item pickerIncome" data-item="Income" id="pickerIncome">
                <p>Income</p>
            </div>

            <div class="picker-item pickerExpense" data-item="Expenses" id="pickerExpense">
                <p>Expenses</p>
            </div>
        </div>
    </div>

    <div class="financial-transaction-table-con table-con">
        <table>
            <thead>
                <tr>     
                    <th>Date</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th class="payee-col">Payee</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="transactionTable">

            </tbody>
        </table>
    </div>

    <div class="financial-transaction-cards-con" id="transactionCardCon">

    </div>

</div>