<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSys - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/public.css" asp-append-version="true">
</head>
<body data-page="@ViewBag.Page">

    <!-- NAVBAR -->
    <nav class="nav-acc">
        <div class="nav-acc-go-back-con">
            <div class="nav-acc-back-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/></svg>
            </div>

            <p class="back-btn" onclick="window.location.replace('/Public/Home/Main')">Go back</p>
        </div>
    </nav>

    <!-- MAIN -->
    <main class="main-acc">
        <div class="main-acc-con">
            @RenderBody()
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer-item-con">
            <div class="copyright-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M320 112C434.9 112 528 205.1 528 320C528 434.9 434.9 528 320 528C205.1 528 112 434.9 112 320C112 205.1 205.1 112 320 112zM320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM269.1 370.9C241 342.8 241 297.2 269.1 269.1C297.2 241 342.8 241 370.9 269.1C380.3 278.5 395.5 278.5 404.8 269.1C414.1 259.7 414.2 244.5 404.8 235.2C357.9 188.3 282 188.3 235.1 235.2C188.2 282.1 188.2 358 235.1 404.9C282 451.8 357.9 451.8 404.8 404.9C414.2 395.5 414.2 380.3 404.8 371C395.4 361.7 380.2 361.6 370.9 371C342.8 399.1 297.2 399.1 269.1 371z"/></svg>
            </div>
            <p>2026 FinSys Limited. All rights reserved.</p>
        </div>
    </footer>

    <script type="module" src="~/js/public.js"></script>
</body>
</html>