@{
    ViewData["Title"] = "Main";
    ViewData["Page"] = "main";
}

<!-- HERO SECTION -->
<div class="hero">
    <div class="banner">
        <div class="banner-header">
            <p class="banner-title">What is FinSys</p>
            <p class="banner-para">A Financial Management System (FMS) made for streamlining financial performance of business</p>
        </div>
        
        <div class="banner-button">
            <button class="primary-btn"><a href="#aboutUs">Learn more about FinSys</a></button>
        </div>
    </div>

    <div class="carousel-bottom">
        <div class="carousel-bottom-con">
            <div class="carousel-bottom-header">
                <p class="carousel-para-over">Over 6.9 million subscribers using FinSys</p>
                <p class="carousel-para-awards">Awards and recognition for our work</p>
            </div>

            <div class="carousel-sticker">
                <img src="~/img/Capterra-2025.svg">
                <img src="~/img/software-advice.svg">
            </div>
        </div>
    </div>
</div>

<!-- ABOUT US -->
<div class="about main-subsection" id="aboutUs">
    <div class="about-para about-con-item">
        <div class="about-title">
            <p class="about-get">Get To Know Us</p>
            <p class="about-who">Who we are?</p>
        </div>

        <div class="about-desc">
            <p>Finance System or commonly know as FinSys started in 2020, 
                 when a group of researchers in Cavite, Philippines saw the 
                 potential to revolutionize business finance operation through 
                 Software-as-a-service (SaaS). An idea to create a Financial 
                 Management System (FMS) as a service for personal and 
                 businesses, integrating technology for reliable, optimize, and 
                 secured financial operations. The idea that created FinSys, a new 
                 and innovated software that transformed financial operations with 
                 the integration of technology.
            </p>
            <p>
                 FinSys is a Finance Management System that aims to handle the 
                 financial sector of a business. With the aim to streamline financial 
                 operation by centralizing financial data into a single hub optimizing 
                 core processes.
            </p>
        </div> 
    </div>

    <div class="about-img-con about-con-item">
        <div class="about-img">
            <img src="~/img/sampleImg.png">
        </div>
    </div>
</div>

<!-- SOLUTION -->
<div class="solution main-subsection" id="solutions">
    <div class="solution-title">
        <p class="solution-finsys-text">The FinSys Solution</p>
        <p class="solution-whatWeDo-text">What we do?</p>
    </div>

    <div class="solution-container">
        <div class="solution-subtitle">
            <p class="solution-subtitle-innovative">Innovative Solutions for Financial Operations</p>
            <p class="solution-subtitle-explore">Explore FinSys an FMS for managing your everyday finance, it provides financial tool for personal and business use.</p>
        </div>

        <div class="cardview">
            <div class="card">
                <div class="card-img">
                    <img src="~/icons/coins.svg">
                </div>
                <p class="card-title">Accounting and Finance</p>
                <p>FinSys provides tools for managing finance
                    operations such as calculating the income,
                    expenses, and total revenue. With real-time
                    visibility, client can make more informed 
                    and fast decisions leading to more profit and 
                    growth.
                </p>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="~/icons/receipt.svg">
                </div>
                <p class="card-title">Transactions</p>
                <p>The transaction module that manages and 
                    handles financial tracking. Displaying
                    previous transaction made by the client.
                </p>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="~/icons/dollar.svg">
                </div>
                <p class="card-title">Sales</p>
                <p>The showing of sales through automated
                    graph and charts for visualizing revenues
                    and sales essential in identifying patterns to
                    make informed decisions about the current
                    financial situation.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- SERVICES -->
<div class="services main-subsection" id="services">
    <p class="services-title">Everything you need in one place</p>
    <div class="services-item-con">
        <div class="services-img">
            <img src="~/img/reports.png">
        </div>

        <p class="services-reports">Reports</p>
        <p class="services-generate">Generate finance summaries and analysis</p>

    </div>
</div>

<!-- PRICING & PLANS -->
<div class="price main-subsection" id="price">
    <div class="price-container">
        <div class="price-title">
            <p class="affordable-para">Affordable Price, Just for You</p>
            <p class="prices-para">Prices according just for your needs</p>
        </div>

        <div class="price-card-con">
            <div class="price-card">
                <div class="price-starter-title">
                    <p class="starter-para">Starter</p>
                    <p class="before-para">Before ₱2,500</p>
                </div>
                <div class="price-now-title">
                    <p class="now-para">Now</p>
                    <p class="onefive-para">₱1,500</p>
                    <p class="permonth-para">per month</p>
                </div>
                <div class="price-save">
                    <p class="save-para">Save ₱3,000 over 3 months</p>
                    <p class="preffered-para">Preferred for beginners, new
                        business, and personal user
                    </p>
                </div>
            </div>
        </div>

        <div class="price-getStarted">
            <button class="getStarted-btn primary-btn"><a asp-controller="Account" asp-action="SignUp">Get Started</a></button>
        </div>
    </div>
</div>



