@{
    ViewData["Title"] = "Main";
    ViewData["Page"] = "main";
}

<!-- HERO SECTION -->
<div class="hero">
    <div class="banner">
        <div class="banner-header">
            <p class="banner-title">What is FinSys</p>
            <p class="banner-para">A Financial Management System (FMS) made for streamlining financial performance of business</p>
        </div>
        
        <div class="banner-button">
            <button class="primary-btn"><a href="#aboutUs">Learn more about FinSys</a></button>
        </div>
    </div>

    <div class="carousel-bottom">
        <div class="carousel-bottom-con">
            <div class="carousel-bottom-header">
                <p class="carousel-para-over">Over 6.9 million subscribers using FinSys</p>
                <p class="carousel-para-awards">Awards and recognition for our work</p>
            </div>

            <div class="carousel-sticker">
                <img src="~/img/Capterra-2025.svg">
                <img src="~/img/software-advice.svg">
            </div>
        </div>
    </div>
</div>

<div class="main-subsection">
    <!-- ABOUT US -->
    <div class="about main-subsection-item" id="aboutUs">
        <div class="about-para about-con-item">
            <div class="about-title">
                <p class="about-get">Get To Know Us</p>
                <p class="about-who">Who we are?</p>
            </div>

            <div class="about-desc">
                <p>Finance System or commonly know as FinSys started in 2020, 
                    when a group of researchers in Cavite, Philippines saw the 
                    potential to revolutionize business finance operation through 
                    Software-as-a-service (SaaS). An idea to create a Financial 
                    Management System (FMS) as a service for personal and 
                    businesses, integrating technology for reliable, optimize, and 
                    secured financial operations. The idea that created FinSys, a new 
                    and innovated software that transformed financial operations with 
                    the integration of technology.
                </p>
                <p>
                    FinSys is a Finance Management System that aims to handle the 
                    financial sector of a business. With the aim to streamline financial 
                    operation by centralizing financial data into a single hub optimizing 
                    core processes.
                </p>
            </div> 
        </div>

        <div class="about-img-con about-con-item">
            <div class="about-img">
                <img src="~/img/organizationalChart.svg">
            </div>
        </div>
    </div>

    <!-- SOLUTION -->
    <div class="solution main-subsection-item" id="solutions">
        <div class="solution-title">
            <p class="solution-finsys-text ">The FinSys Solution</p>
            <p class="solution-whatWeDo-text">What we do?</p>
        </div>

        <div class="solution-container">
            <div class="solution-subtitle">
                <div class="solution-con-item">
                    <p class="solution-subtitle-innovative">Innovative Solutions for Financial Operations</p>
                </div>
                <div class="solution-con-item">
                    <p class="solution-subtitle-explore">Explore FinSys an FMS for managing your everyday finance, it provides financial tool for personal and business use.</p>
                </div>
            </div>

            <div class="cardview">
                <div class="card">
                    <div class="card-img">
                        <img src="~/icons/coins.svg">
                    </div>
                    <p class="card-title">Accounting and Finance</p>
                    <p>FinSys provides tools for managing finance
                        operations such as calculating the income,
                        expenses, and total revenue. With real-time
                        visibility, client can make more informed 
                        and fast decisions leading to more profit and 
                        growth.
                    </p>
                </div>
                <div class="card card-con-item">
                    <div class="card-img transaction-icon">
                        <svg width="20" height="19" viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg"><path d="M8.80176 0.591797C8.94165 0.470144 9.1424 0.470023 9.28223 0.591797L10.7549 1.87598L11.083 2.16211L11.4121 1.87598L12.8848 0.591797L12.8857 0.59082C12.9961 0.494455 13.1489 0.473735 13.2783 0.53418C13.4097 0.595703 13.4998 0.732809 13.5 0.889648V18.1104C13.4998 18.2672 13.4097 18.4043 13.2783 18.4658C13.1489 18.5263 12.9961 18.5055 12.8857 18.4092L12.8848 18.4082L11.4121 17.124L11.083 16.8379L10.7549 17.124L9.28223 18.4082C9.1424 18.53 8.94165 18.5299 8.80176 18.4082L7.32812 17.124L7 16.8379L6.67188 17.124L5.19824 18.4082C5.05729 18.5308 4.85419 18.5286 4.71973 18.4102L4.71777 18.4082L3.24512 17.124L2.91699 16.8379L2.58789 17.124L1.11523 18.4082L1.11426 18.4092C1.00386 18.5055 0.851098 18.5263 0.72168 18.4658C0.590276 18.4043 0.500158 18.2672 0.5 18.1104V0.889648C0.500158 0.732808 0.590276 0.595702 0.72168 0.53418C0.851098 0.473735 1.00385 0.494455 1.11426 0.59082L1.11523 0.591797L2.58789 1.87598L2.91699 2.16211L3.24512 1.87598L4.71777 0.591797C4.85866 0.4691 5.06176 0.471535 5.19629 0.589844L5.19824 0.591797L6.67188 1.87598L7 2.16211L7.32812 1.87598L8.80176 0.591797ZM3.79199 11.6719C3.0227 11.6719 2.41712 12.3013 2.41699 13.0625C2.41699 13.8238 3.02262 14.4531 3.79199 14.4531H10.208C10.9774 14.4531 11.583 13.8238 11.583 13.0625C11.5829 12.3013 10.9773 11.6719 10.208 11.6719H3.79199ZM3.79199 8.10938C3.02262 8.10938 2.41699 8.73868 2.41699 9.5C2.41699 10.2613 3.02262 10.8906 3.79199 10.8906H10.208C10.9774 10.8906 11.583 10.2613 11.583 9.5C11.583 8.73868 10.9774 8.10938 10.208 8.10938H3.79199ZM3.79199 4.54688C3.02262 4.54688 2.41699 5.17618 2.41699 5.9375C2.41712 6.69871 3.0227 7.32812 3.79199 7.32812H10.208C10.9773 7.32812 11.5829 6.69871 11.583 5.9375C11.583 5.17618 10.9774 4.54688 10.208 4.54688H3.79199Z" stroke="#1F262E"/></svg>
                    </div>
                    <p class="card-title">Transactions</p>
                    <p>The transaction module that manages and 
                        handles financial tracking. Displaying
                        previous transaction made by the client.
                    </p>
                </div>
                <div class="card card-con-item">
                    <div class="card-img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M296 88C296 74.7 306.7 64 320 64C333.3 64 344 74.7 344 88L344 128L400 128C417.7 128 432 142.3 432 160C432 177.7 417.7 192 400 192L285.1 192C260.2 192 240 212.2 240 237.1C240 259.6 256.5 278.6 278.7 281.8L370.3 294.9C424.1 302.6 464 348.6 464 402.9C464 463.2 415.1 512 354.9 512L344 512L344 552C344 565.3 333.3 576 320 576C306.7 576 296 565.3 296 552L296 512L224 512C206.3 512 192 497.7 192 480C192 462.3 206.3 448 224 448L354.9 448C379.8 448 400 427.8 400 402.9C400 380.4 383.5 361.4 361.3 358.2L269.7 345.1C215.9 337.5 176 291.4 176 237.1C176 176.9 224.9 128 285.1 128L296 128L296 88z"/></svg>
                    </div>
                    <p class="card-title">Sales</p>
                    <p>The showing of sales through automated
                        graph and charts for visualizing revenues
                        and sales essential in identifying patterns to
                        make informed decisions about the current
                        financial situation.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- SERVICES -->
    <div class="services main-subsection-item" id="services">
        <p class="services-title">Everything you need in one place</p>
        <div class="services-item-con">

            <div class="services-item">
                <div class="services-img">
                    <img src="~/img/transaction.png">
                </div>


                <div class="services-description">
                    <p class="services-head">Transactions</p>
                    <p class="services-generate">Records transaction and their description</p>
                </div>
            </div>

            <div class="services-item">
                <div class="services-img">
                    <img src="~/img/reports.png">
                </div>

                <div class="services-description"> 
                    <p class="services-head">Reports</p>
                    <p class="services-generate">Generate finance summaries and analysis</p>
                </div>
            </div>

            <div class="services-item">
                <div class="services-img">
                    <img src="~/img/dashboard.png">
                </div>

                <div class="services-description">
                    <p class="services-head">dashboard</p>
                    <p class="services-generate">A quick overview of your financial performance</p>
                </div>
            </div>
            
        </div>
        
    </div>

    <!-- PRICING & PLANS -->
    <div class="price main-subsection-item" id="price">
        <div class="price-container">
            <div class="price-title">
                <p class="affordable-para price-text">Affordable Price, Just for You</p>
                <p class="prices-para price-text">Prices according just for your needs</p>
            </div>

            <div class="price-card-con">
                <div class="price-card">
                    <div class="price-starter-title">
                        <p class="starter-para">Starter</p>
                        <p class="before-para">Before ₱2,500</p>
                    </div>
                    <div class="price-now-title">
                        <p class="now-para">Now</p>
                        <p class="onefive-para">₱1,500</p>
                        <p class="permonth-para">per month</p>
                    </div>
                    <div class="price-save">
                        <p class="save-para">Save ₱3,000 over 3 months</p>
                        <p class="preffered-para">Preferred for beginners, new
                            business, and personal user
                        </p>
                    </div>
                </div>
            </div>

            <div class="price-getStarted">
                <button class="getStarted-btn primary-btn"><a asp-controller="Account" asp-action="SignUp">Get Started</a></button>
            </div>
        </div>
    </div>

</div>



