<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinSys</title>

    <link rel="stylesheet" href="~/css/member.css" asp-append-version="true">
</head>
<body>
    <!-- SIDE-NAVBAR -->
    <nav>

    </nav>

    <!-- MAIN -->
    <main>
        @RenderBody()
    </main>
</body>
</html>